"""mysql-connector-python==8.0.33 # Para conectar con MySQL
requests==2.28.1
"""
flask                 # Para crear la API
mysql-connector-python 
python-dotenv  
pymysql

"""
flask
flask_sqlalchemy
gunicorn
psycopg2
""""
